.product-item-container{
  .product-item{
    text-align: center;
    margin:20px 0;
    cursor: pointer;
  }
  @media (min-width: 450px) and (max-width: 800px) {
    .product-item{
      width: 50%;
      & img,svg{
        width: 80%;
        border-radius: 8px;
      }
      
    } 
  }
  @media (min-width: 300px) and (max-width: 450px) {
    .product-item{
      width: 100%;
      & img,svg{
        width: 80%;
        border-radius: 8px;
      }
      
    } 
  }
  @media (min-width: 800px){
    .product-item{
      width: 23%;
      img,svg{
        width: 80%;
        border-radius: 8px;
      }
    }
  }
  max-width: 1230px;
  display:flex;
  margin: 10px 0;
  flex-wrap: wrap;
  
}

.popup{
  width: 200px;
  height:100px;
  margin:20px 20px 0 auto;
  @media (max-width: 400px){
    margin:80px auto 0;
  }
  & li {
    cursor: pointer;
    padding-left: 10px;
    height: 32px;
    line-height: 32px;
    &:hover{
      background-color: rgb(245, 245, 245);
    }
    &:not(:last-child){
      border-bottom:1px solid rgb(212, 212, 212);

    }
  }
  & ul {
    border: 1px solid rgb(212, 212, 212);
    border-radius:5px;
  }
  & h2{
    padding-left: 10px;
    border: 1px solid rgb(212, 212, 212);
    cursor: pointer;
    border-radius:5px;
  }

}
