.product-item-container{
  max-width: 1230px;
  display:flex;
  margin: 100px 0;
  flex-wrap: wrap;
  .product-item{
    width: 25%;
    text-align: center;
    margin:20px 0;

    & img,svg{
      width: 80%;
      border-radius: 8px;
    }
    
  } 
}
