@import 'libs/variables';
@import 'libs/normalize';
@import 'components/all';


body {
  background-color: $background;
  
}
button{
  color:$black;
  border:none;
  font-size:15px;
  font-weight: 600;
  background-color: white;
  cursor:pointer;
}

.red{
  color:$red;
}

.transfer{
  white-space: pre-line
}
.wrapper{
  width:100%;
}
.gray-background{
  background-color:$gray-line;
}